* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    /* height: 100vh;
    width: 100vw; */
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    color: #fff;
    font-size: 0.625rem;
    border: none;
    border-radius: 1rem;

    padding: 0.25rem 0.5rem;
    /* margin: 0.25rem 0; */
    text-align: center;
}

/* -- */

@media screen and (min-width: 768px) {
    .content {
        max-width: 768px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
    }
}

